/* Override BootStrap */
.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.row [class*="col-"] {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.tooltip .tooltip-inner {
	max-width: 100%;
}
/* End override BootStrap */

/* Override Now ui */
.alert {
	position: relative;
}

.alert .close {
	position: absolute;
	top: 0;
	right: 5px;
	cursor: pointer;
}

.alert .close .now-ui-icons:before {
	font-size: 0.75em; 
}
/* End override Now ui */

.g-recaptcha {
	display: inline-block;
}

body {
	/*background-color: #ccc;
	height: 100vh;*/
	height: 100%;
}

.navbar.bg-phpblog-neutral {
	background-color: rgb(153, 153, 153);
}

.navbar a{
	margin: 0;
}

.navbar-brand .custom-logo {
	width: 100%;
	height: auto;
	position: relative;
    top: 0;
    left: 0.2em;
}

.navbar-brand .navbar-brand-title {
	text-transform: none;
	font-size: 16px;
	font-style: italic;
}

.navbar .navbar-nav .nav-link:not(.btn) {
	font-size: 1.2em;
}

.navbar .navbar-nav .nav-link:not(.btn) i.now-ui-icons {
    top: 2px;
    font-size: 16px;
}

.normal-link i.now-ui-icons {
	position: relative;
	top: 2px;
}

.navbar .navbar-nav .nav-link:not(.btn) i.fa {
    top: -1px;
}

.nav-item.admin-menu {
	order: 99;
}

@media screen and (max-width: 991px) {
	.sidebar-collapse #bodyClick {
		cursor: pointer;
	}

	.sidebar-collapse .navbar-collapse {
		overflow-y: auto;
		height: 100vh;
	}

	.sidebar-collapse .navbar-collapse::before {
		background: none;
	}

	.nav-item.admin-menu {
		order: 0;
	}

	.sidebar-collapse .navbar .dropdown .dropdown-menu {
	    /*transform: translate(0,-25px);*/
	    transition: all 0.3s linear;
	    height: 0;
	    display: block;
	    opacity: 0;
	    margin-bottom: -1em;
	}

	.sidebar-collapse .navbar .dropdown.show .dropdown-menu, .sidebar-collapse .navbar .dropdown .dropdown-menu {
	    background-color: transparent;
	    /*border: 0;
	    transition: none;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    width: auto;
	    margin: 0 1rem;
	    margin-bottom: 15px;
	    padding-top: 0;*/
	    
	    /*transform: translate(0,-25px);*/
	    overflow-y: hidden;
	}

	.sidebar-collapse .navbar .dropdown.show .dropdown-menu.show {
		transform: translate(0,7px);
		transition: all 0.5s linear;
		opacity: 1;
		/*max-height: 300px;*/
		height: 100%;
		
		/*height: 100%;*/
		/*margin-bottom: -300px;*/
	}
}

.page-header-image.home {
	background-image: url('/assets/images/phpblog/home.jpg');
}

.page-header-image.post-list {
	background-image: url('/assets/images/phpblog/post-list.jpg');
}

.page-header-image.post-single {
	background-image: url('/assets/images/phpblog/post-single.jpg');
}

.page-header-image.notfound-404 {
	background-image: url('/assets/images/phpblog/notfound-404.jpg');
}

.page-header-image.admin-home {
	background-image: url('/assets/images/phpblog/admin-home.jpg');
}

.page-header:before {
	background-color: none;
    /*background-color: rgba(249, 99, 50, 0.8);*/
    /*background-color: rgba(153, 153, 153, 0.75);*/
}

.page-header h1 {
	margin-bottom: 0;
}

.wrapper {
	/*color: #fff;*/
	display: flex;
  	flex-direction: column;
  	min-height: 100vh;
}

.content {
	padding: 1em 0;
	flex: 1 0 auto;
	position: relative;
	z-index: 0;
}

.no-js-box {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
    justify-content: center;
	background-color: rgba(0, 0, 0, 0.9); 
}

.section {
    padding: 30px 0;
}

.footer.footer-default {
	/*position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;*/
	background-color: rgb(153, 153, 153);
}

.footer .social-personal-links {
	padding-bottom: 2em;
}

.footer .copyright {
	float: none;
	text-align: center;
}

.footer .copyright a.btn-link {
	padding: 0;
}

/* Post List */
.post-header-infos {
	list-style: none;
}

.post-list-nav {
	display: inline-block;
}

.post-thumbnail img, .post-img img {
	border-width: 0 10px;
	border-style: solid;
	border-color: #f96332;
	border-radius: 50px 0;
}  

@media screen and (min-width: 992px) {
	.post-thumbnail img {
		border-width: 10px 0;
		border-color: #f96332;
	}
}

/* Forms */
.cf-error .cf-check-notice {
	display: block;
	color: rgba(255, 54, 54, 0.8);
	background-color: #fff;
	padding: 5px;
}

.input-group-addon, .form-control {
	/*background-color: rgba(255, 255, 255, 0.1) !important;*/
	background-color: transparent !important;
	border: 2px solid rgba(255, 255, 255, 0.1) !important;
}

.input-group-addon {
	border-right-width: 0 !important;
	border-radius: 5px 0 0 5px !important;
}

.form-control {
	border-left-width: 0 !important;
	border-radius: 0 5px 5px 0 !important;
}

.active-field .input-group-addon, .active-field .form-control {
	background-color: transparent !important;
	border-color: rgba(255, 255, 255, 0.2) !important;
}

/* Contact form */
.section-contact-us .contact-form .textarea-container {
	margin: 0 0 10px;
}

.contact-form .textarea-container.input-group .input-group-addon {
	padding-top: 19px;
	align-items: flex-start;
}

.section-contact-us .cf-hide {
	display: none;
}

.section-contact-us .cf-screen-reader {  
	position: absolute !important;
   	clip: rect(1px 1px 1px 1px);
   	clip: rect(1px, 1px, 1px, 1px);
   	height: 1px;
   	overflow: hidden;
   	width: 1px;
}

/* Override Google chrome autofill for contact form */
.contact-form input:-webkit-autofill:focus,
.contact-form input:-webkit-autofill:active,
.contact-form textarea:-webkit-autofill:focus, 
.contact-form textarea:-webkit-autofill:active {
	-webkit-animation-delay: 0;
    -webkit-animation-name: cf-autofill;
  	-webkit-animation-fill-mode: both;
}

.contact-form input:-webkit-autofill, 
.contact-form textarea:-webkit-autofill, 
.contact-form select:-webkit-autofill {
	-webkit-animation-delay: 0;
  	-webkit-animation-name: cf-no-autofill;
  	-webkit-animation-fill-mode: both;
}

@-webkit-keyframes cf-no-autofill {
  	from {
  		color: #fff;
    	background-color: #2c2c2c;
  	}
  	to {
    	color: #fff;
    	background-color: #2c2c2c;
  	}
}

@-webkit-keyframes cf-autofill {
	from {
  		color: #fff;
    	background-color: #2c2c2c;
  	}
  	to {
    	color: #fff;
    	background-color: #2c2c2c;
  	}
}
/* End override Google chrome autofill for contact form */

.contact-form .text-danger {
	font-weight: bold;
    font-size: 0.85em;
}

.contact-form .btn-warning {
	position: relative;
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.contact-form .btn-warning:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.contact-form .ajax-loader {
	position: absolute;
	left: 15px;
    top: 12px;
	border-radius: 50%;
}

/* Admin pages */
.flex-table {
	display: flex;
	justify-content: space-between;
}

.flex-col {
	width: 19%;
	background-color: #CCC;
	word-wrap: break-word;
  	overflow-wrap: break-word;
  	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.flex-header {
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1;
	min-height: 40px;
	padding: 0.25em;
}

.flex-label {
	color: #fff;
	font-weight: bold;
}

.flex-content {
	display: inline-block;
	padding: 0.25em;
}

@media screen and (max-width: 767px) {
	.flex-table {
		flex-direction: column;
	}

	.flex-col {
		width: 100%;
	}
}

/* Contact list */
.contact-box {
	height: 33.33333vh;
	overflow: auto;
}

.contact-box hr {
	margin: 0.75em 0;
}