/* Override BootStrap */
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.row [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.tooltip .tooltip-inner {
    max-width: 100%;
}

.btn {
    white-space: normal;
}

span.btn {
    display: inline-block;
    cursor: default !important;
}

span.btn:hover, span.btn:focus {
    background-color: #888;
    box-shadow: none;
}

a:not(.btn):hover {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

/* End override BootStrap */

/* Override Now ui */
.alert {
    position: relative;
}

.alert a.text-lower strong, .text-lower {
    font-size: 1em !important;
    text-transform: lowercase !important;
}

.alert button.close {
    position: absolute;
    top: 0px;
    right: 5px;
    transform: none;
    cursor: pointer;
}

.alert button.close .now-ui-icons:before {
    font-size: 0.75em;
}
/* End override Now ui */

.g-recaptcha {
    display: inline-block;
    margin-bottom: 5px;
}

body, html {
    height: 100%;
}

ul.phpblog-list {
    display: inline-block;
    padding: 1em;
}

.navbar.bg-phpblog-neutral {
    background-color: rgb(153, 153, 153);
}

.navbar {
    min-height: 115px;
}

.navbar a {
    margin: 0;
}

.navbar-brand .btn {
    cursor: pointer !important;
}

.navbar-brand:hover {
    color: #888 !important;
}

.navbar-brand .custom-logo {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0.2em;
}

.navbar-brand .navbar-brand-title {
    text-transform: none;
    font-size: 16px;
    font-style: italic;
}

.navbar .navbar-nav .nav-link:not(.btn) {
    font-size: 1.2em;
}

.navbar .navbar-nav .nav-link:not(.btn) i.now-ui-icons {
    top: 2px;
    font-size: 16px;
}

.normal-link i.now-ui-icons {
    position: relative;
    top: 2px;
}

/* User profile */
.navbar .navbar-nav .navbar-nav-profile {
    position: fixed;
    top: 0;
    left: 2rem;
    right: 2rem;
    display: block;
    text-align: right;
}

.navbar .navbar-nav .navbar-nav-profile a {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #ffb236;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
    text-align: center;
    color: #fff;
    transition: color, border 0.3s ease-out;
}

.navbar .navbar-nav .navbar-nav-profile a:hover {
    color: #ffb236;
    border-color: #fff;
}

.navbar .navbar-nav .navbar-nav-profile a small {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar .navbar-nav .navbar-nav-profile a span {
    position: relative;
    top: 0.4rem;
    left: 0;
}

@media screen and (max-width: 991px) {
    .navbar .navbar-nav .navbar-nav-profile {
        left: 1rem;
        right: 1rem;
        text-align: center;
    }
}
/* End user profile */

.navbar .navbar-nav .nav-link:not(.btn) i.fa {
    color: #ffb236;
    top: -1px;
}

.nav-item.admin-menu {
    order: 99;
}

@media screen and (max-width: 991px) {
    .sidebar-collapse #bodyClick {
        cursor: pointer;
    }

    .sidebar-collapse .navbar-collapse {
        overflow-y: auto;
        height: 100vh;
    }

    .sidebar-collapse .navbar-collapse::before {
        background: none;
    }

    .nav-item.admin-menu {
        order: 0;
    }

    .sidebar-collapse .navbar .dropdown .dropdown-menu {
        transition: all 0.3s linear;
        height: 0;
        display: block;
        opacity: 0;
        margin-bottom: -1em;
    }

    .sidebar-collapse .navbar .dropdown.show .dropdown-menu, .sidebar-collapse .navbar .dropdown .dropdown-menu {
        background-color: transparent;
        overflow-y: hidden;
    }

    .sidebar-collapse .navbar .dropdown.show .dropdown-menu.show {
        transform: translate(0, 7px);
        transition: all 0.5s linear;
        opacity: 1;
        height: auto;
    }
}

.page-header-image.home {
    background-image: url('/assets/images/phpblog/home.jpg');
}

.page-header-image.post-list {
    background-image: url('/assets/images/phpblog/post-list.jpg');
}

.page-header-image.post-single {
    background-image: url('/assets/images/phpblog/post-single.jpg');
}

.page-header-image.admin-home {
    background-image: url('/assets/images/phpblog/admin-home.jpg');
}

.page-header-image.admin-login {
    background-image: url('/assets/images/phpblog/admin-login.jpg');
}

.page-header-image.admin-register {
    background-image: url('/assets/images/phpblog/admin-register.jpg');
}

.page-header-image.admin-post {
    background-image: url('/assets/images/phpblog/admin-post.jpg');
}

.page-header-image.notfound-404 {
    background-image: url('/assets/images/phpblog/notfound-404.jpg');
}

.page-header-image.http-response {
    background-image: url('/assets/images/phpblog/http-response.jpg');
}

.page-header:before {
    background-color: none;
}

.page-header h1 {
    margin-bottom: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    padding: 1em 0;
    flex: 1 0 auto;
    position: relative;
}

.no-js-box {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
}

.section {
    padding: 30px 0;
}

.footer.footer-default {
    background-color: rgb(153, 153, 153);
}

.footer .social-personal-links {
    padding-bottom: 2em;
}

.footer .copyright {
    float: none;
    text-align: center;
}

.footer .copyright a.btn-link {
    padding: 0;
}

/* Badge */
.badge {
    font-size: 1em;
    line-height: 1;
    border: 4px solid;
    margin-bottom: 1em;
    border-radius: 0.5em;
}

/* Description */
.description, .card-description, .footer-big p {
    font-weight: 400;
}

/* Post List */
.post-header-infos,
.comment-header-infos {
    list-style: none;
}

.post-list-nav {
    display: inline-block;
}

.post-thumbnail img, .post-img img {
    border-width: 0 10px;
    border-style: solid;
    border-color: #f96332;
    border-radius: 50px 0;
}

@media screen and (min-width: 992px) {
    .post-thumbnail img {
        border-width: 10px 0;
        border-color: #f96332;
    }
}

/* Single post */
.post-comment-list-paging .slick-slide { /*comments paging*/
    padding: 10px 20px 40px;
}

/* Forms */
body.new-session .form-token-notice {
    display: none;
}
.form-check-notice, .form-token-notice {
    display: block;
    color: rgba(255, 54, 54, 0.8);
    background-color: #fff;
    padding: 5px;
}

form p.text-danger {
    font-weight: bold;
    font-size: 0.85em;
}

.input-group-addon, .form-control {
    background-color: transparent !important;
    border: 2px solid rgba(255, 255, 255, 0.1) !important;
}

.input-group-addon {
    border-right-width: 0 !important;
    border-radius: 5px 0 0 5px !important;
}

.form-control {
    border-left-width: 0 !important;
    border-radius: 0 5px 5px 0 !important;
}

.active-field .input-group-addon, .active-field .form-control {
    background-color: transparent !important;
    border-color: rgba(255, 255, 255, 0.2) !important;
}

.section-contact-us .contact-form .input-group {
    padding: 0;
}

.section-contact-us .contact-form .textarea-container,
.textarea-container  {
    margin: 0 0 10px;
    padding: 0;
}

.section-contact-us .contact-form .textarea-container.input-group .input-group-addon,
.textarea-container.input-group .input-group-addon {
    padding-top: 19px;
    align-items: flex-start;
}

.phpblog-form-text {
    font-weight: 400;
    font-size: 0.85em;
}

.phpblog-form-text a {
    font-weight: 600;
    color: #9a9a9a;
}

.phpblog-form-text a:hover {
    outline: none;
    text-decoration: none;
    color: #fff !important;
}

.phpblog-form-text a:focus {
    outline: none;
}

/* Use it instead of .btn-warning */
.form-btn-front1 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

/* Use it instead of .btn-warning:hover */
.form-btn-front1:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.form-hide {
    display: none;
}

.section-contact-us .cf-screen-reader,
.form-screen-reader {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    width: 1px;
}

/* Override Google chrome autofill */
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
    -webkit-animation-delay: 0;
    -webkit-animation-name: form-autofill;
    -webkit-animation-fill-mode: both;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-animation-delay: 0;
    -webkit-animation-name: form-no-autofill;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes form-no-autofill {
    from {
        color: #fff;
        background-color: #2c2c2c;
    }
    to {
        color: #fff;
        background-color: #2c2c2c;
    }
}

@-webkit-keyframes form-autofill {
    from {
        color: #fff;
        background-color: #2c2c2c;
    }
    to {
        color: #fff;
        background-color: #2c2c2c;
    }
}
/* End override Google chrome autofill */

/* Contact form */
.contact-form button[type="submit"] {
    position: relative;
}

.contact-form .ajax-loader {
    position: absolute;
    left: 15px;
    top: 12px;
    border-radius: 50%;
}

/* No spam switch form */
.form-nospam .phpblog-label {
    position: relative;
    top: -5px;
}

.form-nospam  .bootstrap-switch {
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 0;
    overflow: hidden;
}

.form-nospam  .bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label {
    border: 2px solid rgba(153, 153, 153, 1);
}

.form-nospam  .bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label {
    border: 2px solid rgba(153, 153, 153, 0.7);
}

/* Admin pages */
.flex-table {
    display: flex;
    justify-content: space-between;
}

.flex-col {
    width: 25%;
    background-color: #CCC;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.flex-header {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    min-height: 70px;
    padding: 0.5em;
}

.flex-label {
    color: #fff;
    font-weight: bold;
}

.flex-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5em;
    line-height: 1;
    padding: 0.5em 0.5em 0.25em;
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .flex-table {
        flex-direction: column;
    }

    .flex-col {
        width: 100%;
    }
}
/* Admin modals */
.modal-backdrop {
    background: rgba(0, 0, 0, 1);
    background-color: none;
}

.modal-backdrop.show {
    opacity: .6;
}

.modal-header button[data-dismiss="modal"] {
    cursor: pointer;
}

.modal-content .modal-header button {
    right: 5px;
    top: 5px;
}

.modal.modal-mini .modal-dialog {
    max-width: 280px;
}

.modal.modal-mini .modal-profile i {
    color: #888;
    font-weight: bold;
    font-size: 21px;
}

.modal.modal-mini .modal-footer button:first-child {
    opacity: 1;
}

/* Admin list */
.list-element .btn-icon {
    display: inline-block;
    height: 3.75rem;
    min-width: 3.75rem;
    width: 3.75rem;
    padding: 1.5em 0.625em;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 0.75rem;
    overflow: hidden;
    position: relative;
    line-height: 1;
    white-space: nowrap;
}

/* Admin slick sliders */
.slider-paging.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slider-navigation {
    position: relative;
}

.slider-navigation .slick-prev,
.slider-navigation .slick-next {
    position: absolute;
    font-size: 2em !important;
    width: 2em;
    height: 2em;
}

.slider-navigation .slick-prev.btn,
.slider-navigation .slick-next.btn {
    margin: 0;
}

.slider-navigation .slick-prev::before,
.slider-navigation .slick-next::before {
    display: none;
}

.slider-navigation .slick-prev {
    left: -5px;
}

.slider-navigation .slick-next {
    right: -5px;
}

.slider-navigation .slick-prev.btn.slick-disabled,
.slider-navigation .slick-next.btn.slick-disabled {
    opacity: 0.25;
}

.slider-navigation .slick-dots {
    position: relative;
    top: -1em;
    bottom: auto;
    width: auto;
    margin: 0 2.5em;
}

.slider-navigation .slick-dots li {
    width: auto;
    height: auto;
    margin: 0.25em;
    padding: 0.25em;
    color: #888;
}

.slider-navigation .slick-dots li.slick-active,
.slider-navigation .slick-dots li:hover {
    color: #f96332;
    border-bottom: 2px solid #333;
}

.slider-navigation .slick-dots li button {
    font-size: inherit;
    color: inherit;
}

.slider-navigation .slick-dots li button::before {
    visibility: hidden;
}