<?xml version="1.0" encoding="utf-8" ?>
<routes>
	<route path="/" module="Home\Home" action="showHome" name="Home\Home|showHome" method="GET" ></route>
  	<route path="post/:id" module="Blog\Post\Post" action="showSingle" name="Blog\Post\Post|showSingle" method="GET" ></route>
  	<route path="post/:slug-:id" module="Blog\Post\Post" action="showSingle" name="Blog\Post\Post|showSingle" method="GET" ></route>
  	<route path="posts" module="Blog\Post\Post" action="showList" name="Blog\Post\Post|showList" method="GET" ></route>
  	<route path="posts/page/:pageid" module="Blog\Post\Post" action="showListWithPaging" name="Blog\Post\Post|showListWithPaging" method="GET" ></route>
  	<route path="/admin" module="Admin\AdminHome" action="showHome" name="Admin\AdminHome|showHome" method="GET" ></route>
  	<route path="/admin/create-post" module="Admin\Post\AdminPost" action="addPost" name="Admin\Post\AdminPost|addPost" method="GET" ></route>
  	<route path="/admin/update-post/:id" module="Admin\Post\AdminPost" action="updatePost" name="Admin\Post\AdminPost|updatePost" method="GET" ></route>
  	<route path="/admin/delete-post" module="Admin\Post\AdminPost" action="deletePost" name="Admin\Post\AdminPost|deletePost" method="GET" ></route>

  	<route path="/home/contact" module="Home\Home" action="sendContactMessage" name="Home\Home|sendContactMessage" method="POST" ></route>
</routes>