# EditorConfig is awesome: http://EditorConfig.org
# https://github.com/editorconfig/editorconfig/wiki/Projects-Using-EditorConfig

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = false

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,json,php,yml,tpl,html,sass,scss,css,md}]
indent_style = space
charset = utf-8

[*.{js,json,php,tpl,html,sass,scss,css}]
trim_trailing_whitespace = true
indent_size = 4

[*.yml]
trim_trailing_whitespace = true
indent_size = 2

[*.md]
trim_trailing_whitespace = false
